<!DOCTYPE html>
<html lang="en">
    <head>
        <title>MonoJar Dashboard</title>
        <link rel="stylesheet" href="/static/css/sidebarStyle.css">
        <link rel="stylesheet" href="/static/css/createJarStyle.css">
        <link rel="stylesheet" href="/static/css/libraryStyle.css">
        <link rel="stylesheet" href="/static/css/capsuleStyle.css">
        <link rel="stylesheet" href="/static/css/capsuleLibrary.css">
        <link rel="stylesheet" href="/static/css/jarAppearance.css">
        <link rel="stylesheet" href="/static/css/aboutStyle.css">
        <script type="text/javascript">
            const username = "{{ username }}";
        </script>
    </head>

    <body>
        <div class="container">
            {% include 'sidebar.html' %}
            {% block content %}{% endblock %}
        </div>

        <script src="/static/js/config.js"></script>
        <script src="/static/js/sidebarScript.js"></script>
        <script src="/static/js/sadnessJarScript.js"></script>
        <script src="/static/js/happinessJarScript.js"></script>
        <script src="/static/js/libraryScript.js"></script>
        <script src="/static/js/expandJarScript.js"></script>
        <script src="/static/js/capsuleScript.js"></script>
        <script src="/static/js/capsuleLibrary.js"></script>
        <script src="/static/js/jarAppearance.js"></script>
        <script src="/static/js/logoutScript.js"></script>
    </body>
</html>