<!DOCTYPE html>
<html lang="en">
    <head>
        <title>MonoJar Create Jar</title>
        <link rel="stylesheet" href="/static/css/dashboardStyle.css">
        <link rel="stylesheet" href="/static/css/createJarStyle.css">
        <script type="text/javascript">
            const username = "{{ username }}";
        </script>
    </head>

    <body>
        <div class="container">
            <div class="sidebar">
                <div class="logo">MonoJar</div>

                <a href="#" class="main-tab special-tab" data-target="createjar-submenu">Create Jar</a>
                <div id="createjar-submenu" class="submenu">
                    <a href="/sadnessJar/{{ username }}">Sadness</a>
                    <a href="/happinessJar/{{ username }}">Happiness</a>
                </div>

                <a href="#" class="main-tab" data-target="library-submenu">Jar Library</a>
                <div id="library-submenu" class="submenu">
                    <a href="#">Sadness</a>
                    <a href="#">Happiness</a>
                </div>

                <a href="#" class="main-tab">Time Capsule</a>

                <a href="#" class="main-tab" data-target="settings-submenu">Settings</a>
                <div id="settings-submenu" class="submenu">
                    <a href="#">Edit Nickname</a>
                    <a href="#">Notifications</a>
                    <a href="#">About App</a>
                    <a href="#">Log Out</a>
                </div>
            </div>

            <div class="main-content">
                <div class="header">
                    <div class="title">Create Jar</div>
                    <div class="user-info">Welcome, User</div>
                </div>
                
                <div class="content">
                    <a href="/sadnessJar/{{ username }}" class="card">
                        <img src="/static/image/honey.png" alt="Sadness Jar">
                        <h2>Create Sadness Jar</h2>
                        <p>Click to Create a Jar to Release Stress</p>
                    </a>

                    <a href="/happinessJar/{{ username }}" class="card">
                        <img src="/static/image/honey.png" alt="Happiness Jar">
                        <h2>Create Happiness Jar</h2>
                        <p>Click to Create a Jar to Celebrate Joy</p>
                    </a>
                </div>
            </div>

            <script src="/static/js/config.js"></script>
            <script src="/static/js/dashboardScript.js"></script>
        </div>
    </body>
</html>