{% extends 'base.html' %}

{% block content %}
<div class="main-content">
    <div class="header">
        <div class="title">Create Jar</div>
        <div class="user-info">Welcome, {{ username }}</div>
    </div>

    <div class="content">
        <a href="/sadnessJar/{{ username }}" class="card">
            <img src="/static/image/{{ jar_design }}" alt="Sadness Jar">
            <h2>Create Sadness Jar</h2>
            <p>Click to Create a Jar to Release Stress</p>
        </a>
        
        <a href="/happinessJar/{{ username }}" class="card">
            <img src="/static/image/{{ jar_design }}" alt="Happiness Jar">
            <h2>Create Happiness Jar</h2>
            <p>Click to Create a Jar to Celebrate Joy</p>
        </a>
    </div>
</div>
{% endblock %}