{% extends 'base.html' %}

{% block content %}
<div class="main-content">
    <div class="header">
        <div class="title">Notifications</div>
    </div>

    <div class="content">
        <a href="/createJar/{{ username }}">
            <button class="back-button">Back</button>
        </a>
        
        <form id="notificationForm">
            <div class="notification-setting">
                <label for="emailNotifications">Email Notifications:</label>
                <input type="checkbox" id="emailNotifications" name="email_notifications" {% if email_notifications %}checked{% endif %} checked>
            </div>
            <div class="notification-setting">
                <label for="inAppNotifications">In-App Notifications:</label>
                <input type="checkbox" id="inAppNotifications" name="in_app_notifications" {% if in_app_notifications %}checked{% endif %} checked>
            </div>
            <button type="submit" class="save-button">Save</button>
        </form>
    </div>
</div>
{% endblock %}