<!DOCTYPE html>
<html lang="en">
    <head>
        <title>MonoJar Register Page</title>
        <link rel="stylesheet" href="/static/css/style.css">
    </head>

    <body>
        <div class="container">
            <h2>Register</h2>

            <form id="registerForm">
                <input type="text" name="username" placeholder="Username" required>
                <input type="email" name="email" placeholder="Email address" required>
                <input type="password" name='password' placeholder="Password" required>
                <button type="submit">Register</button>
            </form>
    
            <div>
                <p>Already have an account? Sign in <a href="/login">here</a>!</p>
            </div>
    
            <script src="/static/js/config.js"></script>
            <script src="/static/js/registerScript.js"></script>
        </div>
    </body>
</html>