{% extends 'base.html' %}

{% block content %}
<div class="main-content">
    <div class="header">
        <div class="title">Sadness Library</div>
    </div> 

    <div class="content">
        <a href="/createJar/{{ username }}">
            <button class="back-button">Back</button>
        </a>
        
        <form id="filter-form" method="GET" action="/filterSadnessJars/{{ username }}">
            <input type="date" name="filter-date" id="filter-date">
            <button type="submit">Filter</button>
        </form>

        <ul id="jar-list">
            {% for jar in jars %}
            <li class="content jar collapsed" id="jar-{{ jar.id }}">
                <p>{{ jar.type }} Jar - {{ jar.content }}</p>
                <div class="jar-controls">
                    <span class="created-at">{{ jar.created_at }}</span>
                    <button class="delete-button" data-jar-id="{{ jar.id }}">
                        <img src="/static/image/deleteIcon.png" alt="Delete">
                    </button>
                    <button class="expand-button" data-jar-id="{{ jar.id }}">Show More</button>  
                </div>    
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}