<!DOCTYPE html>
<html lang="en">
<head>
    <title>MonoJar Email Verification</title>
    <link rel="stylesheet" href="/static/css/loginStyle.css">
</head>
<body>
    <div class="container">
        <h2>Email Verification</h2>

        <form id="verificationForm">
            <input type="text" id="otp" name="otp" placeholder="OTP" required>
            <button type="submit">Verify</button>
        </form>

        <script src="/static/js/config.js"></script>
        <script src="/static/js/verification.js"></script>
    </div>
</body>
</html>