.capsule-container, .upcoming-container {
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    background-color: #fbcfab;
    width: 430px;
    height: 570px;
    overflow: hidden;
}

.capsule-container h2, .upcoming-container h2 {
    margin: 0;
    text-align: left;
    font-size: 22px;
}

#capsule-content {
    margin-top: 10px;
}

#upcoming-dates {
    margin-top: 10px;
}